.container{
  padding: 0em 1em;
  background:#A5D6A7;
  color:#121212;
  width: 100vw;
  height: minmax(auto,10vh);
  margin: auto 0;
  box-shadow: 1px 4px 10px rgba(0,0,0,.15);
  position: fixed;
  top: 0%;
  z-index: 1;
}
