.offline-card{
  background-color: #CF6679;
  width: 100%;
  height: 25px;
  text-align: center;
  font-size: 0.8rem;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  bottom: 0;
}
